*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --heading:rgb(0 10 45);
    --para:#777;
    --para-tint:#e4e4e4;
    --overlay:#3e64ff;
    --white:#fff;
    --black:#212529;
    --helper:#8490ff;
    --helper-tint:#f3f4ff;
    --bg:rgb(249 249 255);
    --gradient:linear-gradient(0deg, rgb(1332 144 255) 0%, rgb(98 189 252) 100%);
    --gradientSupport:-webkit-linear-gradient(0deg,
      rgb(132 144 255) 0%,
      rgb(98 189 252) 100%
      );
      --box-shadow:0 10px 20px rgb(0 0 0 / 0.2);
      --icon-bg:rgb(144, 172, 209, 0.2);
      --shadow:0px 0px 20px 0px rgb(132 144 255 / 20%);
      --shadowSupport:0px 20px 20px 0px rgb(132 144 255 / 30%);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}body{
    overflow-x: hidden;
}
 
 h1,h2,h3,h4{
    font-family: "poppins",sans-serif;
 }
 h1{
    color:var(--heading);
    font-size: 55px;
    font-weight: 600;
 }

 h3{
    font-size: 18px;
    font-weight: 400;

 }
 p{
    color: var(--para);
    line-height: 1.6;
    font-size: 16px;
 }
 a{
    text-decoration: none;
 }
 li{
    list-style: none;
 }

  /* header section start*/ 

  .header{
    padding:0 40px;
    height: 100px;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header img{
    height: 30px;
  }
  .navbar-lists{
    display: flex;
    gap: 48px;
  }
  .navbar-link:link,
  .navbar-link:visited{
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  transition: color 0.3s linear;
   }
   .navbar-link:hover,
   .navbar-link:active{
    color: var(--helper);
   }

   
   .section{
    padding: 90px 0;
   }
   .container{
    max-width:1400px;
    margin: 0 auto;
   }

   .grid{
    display: grid;
    gap: 90px;;
   }

   .grid-two-column{
    grid-template-columns: repeat(2, 1fr);
   }
 
   .btn{
    border: none;
    padding: 16px 30px;
    background: var(--gradientSupport);
   color: var(--helper-tint);
   display: inline-block;
   text-transform: uppercase;
   font-weight:500;
   font-size: 18px;
   cursor: pointer;
   transition: all 0.3s ease ;

   }
   .btn:hover, 
   .btn:active{
    box-shadow: var(--shadowSupport);
   }
 .common-heading{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 60px;
    text-transform: capitalize;
    position: relative;
}
.common-heading::before{
    content:"";
    position: absolute;
    top: 110%;
    left: 0;
    width: 16px;
    height: 16px;
    background: var(--helper);
}

.common-heading::after{
    content:"";
    position: absolute;
    top: 115%;
    left:16px;
    min-width:320px;
    height:5px;
    background-color: var(--helper);
}
  
 .mobile-navbar-btn{
    display: none;
    background: transparent;
    cursor: pointer;
    border: none;
 }

 .mobile-nav-icon[name="close-outline"]{
    display: none;
 }

   /* resuable section start*/ 



   .section-hero{
    background-color: var(--bg);
   }
   .section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   .hero-top-data{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color: var(--helper);
   }
   .hero-heading{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
   }

   .hero-para{
    margin-top: 15px;
    margin-bottom:50px;
   }
   .section-hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .hero-img{
    max-width: 80%;
   }
   /* BIO section start*/ 
   
   .bio-image{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .bio-image img{
    width: 80%;
    box-shadow: -20px -20px 0 0 var(--helper);
    display: inline-block;
   }

 .bio-data-stats{
    display: flex;
    padding: 55px 0;
    flex-direction: column;
    gap: 25px;
 }
 .bio-stats h3{
    margin-bottom: 5px;
 }
  .bio-progress-bar{
    width:90%;
    height: 12px;
    background-color:var(--para-tint);
    border-radius:160px;
    position: relative;
    box-shadow: var(--shadow);
}
.bio-progress-bar::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width:80%;
    height: inherit;
    background: var(--gradientSupport);
    border-radius: 160px;
}
.bio-progress-bar-2::before{
    width:99%;
}
.bio-progress-bar-3::before{
    width:90%;
}
.bio-progress-bar-4::before{
    width:85%;
}
.bio-progress-bar span{
   position: absolute;
   top: 18px;
   width: 40px;
   height: 20px;
   background: var(--helper);
   color: var(--white);
   display: flex;
   justify-content: center;
   align-items: center;
   outline: 0;
   border: none;
}
.bio-progress-bar span{
    left:76%;
}
.bio-progress-bar-2 span{
    left:95%;
}
.bio-progress-bar-3 span{
    left:86%;
}
.bio-progress-bar-4 span{
    left:81;
}


/* data section start*/ 

.section-work-data{
    background: var(--gradientSupport);
    text-align: center;
    transition: all 0.7s linear;
    color: var(--white);
}
.grid-four-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.counter-numbers{
    font-size: 48px;
}
.section-work-data p{
    color: var(--white);
    text-transform: capitalize;
}

/* service section start*/ 

.section-services{
    transition:all 0.7s linear;
}
.section-services p{
    max-width: 600px;
}

.section-services .grid{
    margin-top: 100px;
    row-gap:100px;
}

.service-box{
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 64px 30px;
    transition:all 0.2s linear;
   
}

.grid-three-column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.service-box:hover{
    box-shadow:var(--box-shadow);
    cursor: pointer;
}

.service-icon{
    width: 80px;
    height: 80px;
    background-color:var(--icon-bg);
    display: inline-block;
    border-radius: 47% 53% 50% 50% / 30% 30% 70% 70% ;
    padding: 14px 18px;
    position: relative;
    color: var(--heading);
    animation: water-wave 3s linear infinite;
}

@keyframes water-wave {
 0%{
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70% ;;
 }
 50%{
 border-radius: 3% 97% 15% 85% / 72% 0% 100% 28% ;;
 }
 100%{
 border-radius: 56% 44% 70% 30% / 30% 54% 46% 70% ;;
 }
}

 /* freelancing section start*/ 
 .section-freelancing{
    background-image: url(/images/laptop3.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    transition: all 0.7s linear;
    text-align: center;
 }

 .section-freelancing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: var(--overlay);
    opacity: 0.7;
 }

 .section-freelancing .container{
    position: relative;
 }
 .section-freelancing h2{
    font-size: 50px;
 }
 .section-freelancing span{
    color:#a0f669;
 }
 .section-freelancing h2, .section-freelancing p{
    color: var(--white);
    margin-bottom: 18px;
 }

 /* contact section start*/ 

 .section-contact-main{
    max-width:700px;
    margin: 0 auto;
    margin-top: 90px;
    transition: all 0.3s linear;
 }
 .section-contact-main .grid{
    gap: 30px;
 }
 .section-contact-main form{
    display: flex;
    flex-direction: column;
    gap: 32px;
 }
 .section-contact-main input,
 .section-contact-main textarea{
    padding:15px 20px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    font-size: 16px;
    font-family: "work sans";
    width: 100%;
 }
 .section-contact-main input[type="submit"]{
    max-width: 30%;
    border: none;
 }

 /* footer section start*/ 
 .section-footer{
    background: var(--heading);
    transition: all 0.7s linear;
 }
 .section-footer h3{
    color: var(--white);
    margin-bottom: 40px;
 }

 .section-footer .grid-four-column{
    text-align: center;
 }
 .f-about p{
    color: #adadad;
 }

 .f-links ul,
 .f-services ul,
 .f-address address{
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
 }

 .f-links li,
 .f-links a,
 .f-services li,
 .f-services a{
    font-size: 14px;
    color: #adadad;
    text-transform: capitalize;
 }

.f-address p{
    font-style: normal;
    color: #adadad;
}
.f-social-icons{
    margin: 40px 0;
    text-align: center;
    color: #adadad;
}
.f-social-icons .icons{
    width: 35px;
    height: 35px;
    background-color: var(--icon-bg);
    display: inline-block;
    padding: 14px 18px;
    position: relative;
    color: var(--white);
    animation: water-wave 3s linear infinite;
    cursor: pointer;
}

.f-credits p{
  text-align: center;
  color: #adadad;
}
.section-footer a:hover{
    color: var(--white);
}

/* scroll section start*/ 
.scrollTop-style{
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 1;
}
.scroll-top{
    width: 40px;
    height: 40px;
    background: var(--helper);
    display: inline-block;
    padding: 14px 18px;
    color:var(--white);
    animation: water-wave 3s linear infinite;
    cursor: pointer;
}

/* media queries start*/ 

@media(max-width:95em){
   .container{
    max-width:130rem;
    padding: 0 3.2rem;
   }

   .navbar-lists{
    gap: 3.4rem;
   }
}

@media (max-width:75em){
   html{
    font-size: 56.25%;
   }

   .container{
    max-width: 110rem;
   }

   .grid{
     gap:4.8rem;
   }
}
@media (max-width:980px){
    html{
        font-size: 50%;
    }
    .header{
     position: relative;
    }

    .mobile-navbar-btn{
        display: block;
        z-index: 9999;
        border: 3px solid var(--black);
        color: var(--black);
    }
  
    .mobile-nav-icon{
        width: 5rem;
        height: 5rem;
        color: var(--black);
    }

   
    .navbar{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--gradient);
        display: flex;
        justify-content: center;
        align-items: center;
       
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 999;
    }

    .navbar-lists{
        flex-direction: column;
        align-items: center;

    }
    .navbar 
    .navbar-lists
    .navbar-link:link{
        color: #212529;
        font-size: 25px;
    }

    .active .navbar{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name = "menu-outline"]{
      display: none;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name = "close-outline"]{
        display: block;
    }

    .section-hero h1{
        line-height: 1.05;
    }

    .section-services .grid{
        gap: 6rem;
    }

    .section-services .grid-three-column{
        grid-template-columns: repeat(2, 1fr);
    }
    .section-footer .grid-four-column{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:49em){
    .container{
        max-width: 71rem;
    }
    .section-hero .grid-two-column{
    grid-template-columns: 1fr;
    }

    .section-hero-data{
        align-items: center;
    }
    .hero-heading{
        text-align: center;
    }
    .hero-para{
        text-align: center;
        margin-top: 2rem;
    }
    .section-hero-image{
        width: 100%;
    }

    .section-biodata .grid-two-column{
        grid-template-columns: 1fr;
    }
    .section-biodata .bio-image{
        grid-row: 2;
        margin-top: 3.2rrem;
    }
    .section-biodata .bio-image img{
        width: 50%;
    }

   .section-work-data{
    grid-template-columns: repeat(2, 1fr);
   }
}





 




 
